<div *ngIf="league">

  <div class="row">
    <div class="col-md-12">
      <div class="content-block">
        <h1 align="center">{{league?.name}}</h1>
      </div>
    </div>
    <div class="col-md-3">
      <div class="content-block">
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Commissioner:
              <a class="link" [routerLink]="['/user', league.ownerName]">{{league?.ownerName}}</a>
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">{{league?.leaguePrivacy}} League</h6>
          </div>
          <ul class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" routerLink="/404">
              Teams
              <span class="badge badge-primary">{{league?.numTeams}}</span>
            </a>
            <a class="list-group-item list-group-item-action" routerLink="/404">
              Team Standings
            </a>
            <a class="list-group-item list-group-item-action" routerLink="/404">
              League Settings
            </a>
          </ul>
          <br/>
          <div class="btn-group-vertical">
            <button class="btn btn-primary" *ngIf="league?.leaguePrivacy === 'Private'">Request to Join</button>
            <button class="btn btn-primary" *ngIf="league?.leaguePrivacy !== 'Private'">Join League</button>
            <button class="btn btn-danger">Delete League</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="content-block">
        <table class="table">
          <thead>
            <tr>
              <th>Username</th>
              <th>Team</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of members">
              <td>
                <a class="link" [routerLink]="['/user', member.Username]">{{member.Username}}</a>
              </td>
              <td>{{member.TeamName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="content-block">
          <label>Week</label>
          <select (change)="setLeagueStandings(league._id, $event.target.value)">
            <option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]">{{number}}</option>
          </select>
        <table class="table">
          <thead>
            <tr>
              <th>Username</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let standing of standings">
              <td>
                <a class="link" [routerLink]="['/user', standing.Username]">{{standing.Username}}</a>
              </td>
              <td>{{standing.score}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-6" align="left"></div>

    <div class=col-md-3></div>
    <div class="col-md-3" align="right">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="weekDropdownButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Select Week
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]">
            <a class="dropdown-item">{{number}}</a>
          </li>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h4 align="center">Current Standings</h4>
      <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Team</th>
            <th scope="col">Record</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Austin's_Best</td>
            <td>998-1</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Luke_tried</td>
            <td>1-998</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Nick_didn't_play</td>
            <td>0-0</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-4">
      <h4 align="center">Team 1</h4>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Also</th>
            <th scope="col">Game</th>
            <th scope="col">Stuff</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Austin's_Best</td>
            <td>998-1</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Luke_tried</td>
            <td>1-998</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <h4 align="center">Team 2</h4>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Game</th>
            <th scope="col">Stuff</th>
            <th scope="col">Here</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Austin's_Best</td>
            <td>998-1</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Luke_tried</td>
            <td>1-998</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>
