<div clss="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card border-dark mb-3">
        <div class="card-header" align="center">
          Welcome to &lt;awesome-name&gt;
        </div>
        <div class="card-body">
          <h5 class="card-title" align="center">Thanks for joining us at &lt;awesome-name&gt;!</h5>
          <p class="card-text">Get started with your fantasy football experience. You can find either find and 
                               join an existing league create your own fully customized league.
          </p>
          <div class="row">
            <div class="col-md-6" align="center">
              <button type="button" class="btn-primary btn-lg" >Find/Join League</button>
            </div>
            <div class="col-md-6" align="center">
              <button type="button" class="btn-primary btn-lg">Create League</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>>
