<div class="jumbotron">
  <button class="btn btn-secondary" (click)="incomingInvites=[]">TEST NO INVITES</button>
  <!-- no invite message -->
  <p *ngIf="!incomingInvites.length">
    You have no pending invites!
  </p>
  <!-- list of invites-->
  <div *ngFor="let i of invites" class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" id="request{{i}}">
        <div class="row">
          <div class="col-md-3">{{i.senderUsername}}</div>
          <div class="col-md-3">{{i.leagueName}}</div>
          <div class="col-md-4">{{i.date}}</div>
          <div class="col-md-2">
            <!-- bootstrap button class to be changed -->
            <button type="button" id="request{{i}}" class="btn btn-danger" (click)="declineListener()" style="clear: left; float: right">
              &#9747;
            </button>
            <button type="button" id="request{{i}}" class="btn btn-success" (click)="acceptListener(i.leagueId)" style="clear: left; float: right">
              ACCEPT!
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
