<div class="row">

  <div class="col-md-12">
    <div class="content-block">
      <div class="jumbotron jumbotron-fluid" align="center">
        <h1>
          <img src="http://res.publicdomainfiles.com/pdf_view/1/13488042016716.png" class="img-rounded" alt="Cinque Terre"
            width="35" height="35"> Welcome to Fantasy Football!
          <img src="http://res.publicdomainfiles.com/pdf_view/1/13488042016716.png" class="img-rounded"
            alt="Cinque Terre" width="35" height="35">
        </h1>
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="content-block">
      <ng-template ngFor let-feed [ngForOf]="feeds">
        <app-news-feed [feed]="feed"></app-news-feed>
      </ng-template>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="content-block" *ngFor="let league of allLeaguesIn">
        <app-user-teams [league]="league"></app-user-teams>
    </div>
  </div>
</div>
