<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <!-- Brand -->
  <a class="navbar-brand" routerLink="/homepage">FANTASY FOOTBALL</a>

  <!-- Bootstrap Collapse Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Left Side Nav Dropdowns (Using variable navMenu) -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- Parent Menu -->
      <li class="nav-item dropdown" *ngFor="let parent of navMenu">
        <!-- Parent Menu Item -->
        <a class="nav-link dropdown-toggle" [routerLink]="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{parent.name | uppercase}}
        </a>
        <!-- Child Menu -->
        <div class="dropdown-menu">
          <!-- Child Menu Item -->
          <ng-template ngFor let-child [ngForOf]="parent.children">
            <a class="dropdown-item" routerLink="{{child.route}}">{{child.name | uppercase}}</a>
            <div class="dropdown-divider" *ngIf="child.dividerBelow"></div>
          </ng-template>
        </div>
      </li>
    </ul>

    <!-- Log in/Log out Nav Item -->
    <ul class="navbar-nav">
      <button class="nav-item btn btn-secondary" (click)="toggleTestUser()">Toggle Test User</button>
      <li class="nav-item dropdown" *ngIf="user">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{ user.userName | uppercase}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="">{{ user.firstName + ' ' + user.lastName | uppercase}}</a>
          <a class="dropdown-item" routerLink="/settings">ACCOUNT SETTINGS</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">LOG OUT</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="!user">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          LOG IN
        </a>
        <ul class="dropdown-menu dropdown-menu-right" style="width: 250px">
          <li class="p-3">
            <form class="form" role="form">
              <div class="form-group">
                <input id="emailInput" placeholder="Username" class="form-control form-control" type="text" required>
              </div>
              <div class="form-group">
                <input id="passwordInput" placeholder="Password" class="form-control form-control" type="password" required>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
              </div>
              <div class="form-group text-center">
                <small>No account?
                  <a href="#" data-toggle="dropdown" routerLink="/register-account">Register now.</a>
                </small>
              </div>
            </form>
          </li>
        </ul>
      </li>
    </ul>

  </div>
</nav>

<!-- Breadcrumb Page Identifier (angular-crumbs) -->
<breadcrumb #parent>
  <nav class="breadcrumb">
    <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
      <a    *ngIf="!route.terminal" class="breadcrumb-item" href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
      <span *ngIf="route.terminal"  class="breadcrumb-item active">{{ route.displayName }}</span>
    </ng-template>
  </nav>
</breadcrumb>

<!-- Breadcrumb Page Identifier -->
<!--
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">{{routeEvents?.urlAfterRedirects}}</li>
  </ol>
</nav>
-->

