.navbar {
  padding: 4px 15px;
  background-color: var(--nav-color);
}

.navbar .navbar-brand {
  font-weight: bold;
  color: #007bff;
  -webkit-transition: .15s ease-in;
  transition: .15s ease-in;
}

.navbar .navbar-brand:hover {
  font-weight: bold;
  color: white;
  -webkit-transition: .15s ease-in;
  transition: .15s ease-in;
}

.breadcrumb {
  border-radius: 0px;
  padding: 6px 15px;
  margin-bottom: 5px;
}

.dropdown .nav-link {
  font-size: 15px;
  color: white;
}

.dropdown .nav-link:hover {
  border-radius: 2px;
  background-color: #007bff;
  color: white;
  -webkit-transition: .20s ease-in;
  transition: .20s ease-in;
}

.dropdown .dropdown-menu {
  background-color: var(--nav-color);
  border-radius: 5px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown .dropdown-menu .dropdown-item {
  color: white;
  border-radius: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #007bff;
}

.dropdown .dropdown-menu .dropdown-item:focus {
  background-color: #007bff;
}

.dropdown .dropdown-menu .dropdown-divider {
  border-color: black;
  margin-left: 1px;
  margin-right: 1px;
}

.dropdown .form input {
  background-color: var(--block-color);
  border-color: var(--block-color);
  color: white;
}

.dropdown .form input:focus {
  background-color: var(--block-color);
  border-color: var(--primary-color);
  color: white;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.dropdown .form small {
  color: white;
}
