<!-- <img src='http://media.bizj.us/view/img/7247332/100715aaron-rodgersprevea-2015*1200xx4396-2473-0-227.jpg' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'> -->
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="text-primary text-center">Register</h4>
        <p class="card-subtitle text-muted text-center small">Enter your desired information.</p>
      </div>
      <div class="card-body">
        <div class="card-text">
          <form>
            <div class="form-group">
              <label for="newPassInput">Email</label>
              <input type="text" class="form-control" id="emailEnterInput">
            </div>
            <label>Username</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">@</div>
              </div>
              <input type="text" class="form-control" placeholder="" id="usernameInput">
            </div>
            <hr />
            <div class="form-group">
              <label for="newPassInput">Password</label>
              <input type="password" class="form-control" id="passInput">
            </div>
            <div class="form-group">
              <label for="confirmPassInput">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassInput">
            </div>
          </form>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" routerLink="/welcome" class="btn btn-primary btn-block">Submit</button>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
