<div class="my-3 p-3 card bg-light rounded box-shadow">
    <div class="row">
      <div class="col-md mb-3">
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md mb-3">
        <button class="btn btn-outline-secondary" data-toggle="collapse" data-target="#advanced">Advanced Search</button>
        <div class="collapse" id="advanced">
          <div class="card card-body">
            <p>Advanced Options:</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md mb-3">
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">League Name</th>
              <th scope="col">Teams</th>
              <th scope="col">Format</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Football is cool</td>
              <td>8/12</td>
              <td>Standard</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
