<div>
  <div>
    <h2>Scoring Leaders</h2>
  </div>
  <div class="row">
    <h4 class="col-sm-2">Filters:</h4>
    <h6 class="col-sm-1">Team:</h6>
    <select class="form-control col-sm-4">
      <option></option>
    </select>
    <h6 class="col-sm-1">Pos:</h6>
    <select class="form-control col-sm-4">
        <option></option>
    </select>
  </div>
  <div>
    <table class="table">
      <thead>
        <th scope="col">Offensive Players</th>
        <th scope="col">Passing</th>
        <th scope="col">Rushing</th>
        <th scope="col">Receiving</th>
        <th scope="col">Misc</th>
        <th scope="col">Total</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <table class="table"> <!-- Offensive Players -->
              <thead>
                <th scope="col">Name</th>
                <th scope="col">Pos</th>
                <th scope="col">Team</th>
              </thead>
              <tbody></tbody>
            </table>
          </td>
          <td>
            <table class="table"> <!-- Passing -->
              <thead>
                <th scope="col">C/A</th>
                <th scope="col">YDS</th>
                <th scope="col">TD</th>
                <th scope="col">INT</th>
              </thead>
              <tbody></tbody>
            </table>
          </td>
          <td>
            <table class="table"> <!-- Rushing -->
              <thead>
                <th scope="col">Rush</th>
                <th scope="col">YDS</th>
                <th scope="col">TD</th>
              </thead>
              <tbody></tbody>
            </table>
          </td>
          <td>
            <table class="table"> <!-- Recieving -->
              <thead>
                <th scope="col">Rec</th>
                <th scope="col">YDS</th>
                <th scope="col">TD</th>
              </thead>
              <tbody></tbody>
            </table>
          </td>
          <td>
            <table class="table"> <!-- Misc -->
              <thead>
                <th scope="col">2PC</th>
                <th scope="col">Fuml</th>
                <th scope="col">Ret TD</th>
              </thead>
              <tbody></tbody>
            </table>
          </td>
          <td>
            <table class="table"> <!-- Total -->
              <thead>
                <th scope="col">PTS</th>
              </thead>
              <tbody></tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <table class = "table">
      <thead>
        <th scope="col">Kickers</th>
        <th scope="col">Kicking</th>
        <th scope="col">Total</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <table class="table"> <!-- Kickers -->
              <thead>
                <th scope="col">Name</th>
                <th scope="col">Pos</th>
                <th scope="col">Team</th>
              </thead>
              <tbody></tbody>
            </table>
          </td>
          <td>
            <table class="table"> <!-- Kicking -->
              <thead>
                <th scope="col">1-39</th>
                <th scope="col">40-49</th>
                <th scope="col">50+</th>
                <th scope="col">Total</th>
                <th scope="col">XP</th>
              </thead>
              <tbody></tbody>
            </table>
          </td>
          <td>
            <table class="table"> <!-- Total -->
              <thead>
                <th scope="col">Points</th>
              </thead>
              <tbody></tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <table class="table">
      <thead>
        <th scope="col">Team D/ST</th>
        <th scope="col">Team Def/Special Teams</th>
        <th scope="col">Total</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <table class="table"> <!-- Team D/ST -->
              <thead>
                <th scope="col">Team Name</th>
                <th scope="col">Team Pos</th>
              </thead>
              <tbody></tbody>
            </table>
          </td>
          <td>
            <table class="table"> <!-- Team Def/Special Teams -->
              <thead>
                <th scope="col">TD</th>
                <th scope="col">Int</th>
                <th scope="col">Fumb Rec</th>
                <th scope="col">Sack</th>
                <th scope="col">Safety</th>
                <th scope="col">Block</th>
                <th scope="col">PA</th>
              </thead>
              <tbody></tbody>
            </table>
          </td>
          <td>
            <table class="table"> <!-- Total -->
              <thead>
                <th scope="col">Points</th>
              </thead>
              <tbody></tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
