.dark-theme {
  --nav-background-color: #243447;
  --nav-foreground-color: white;

  --background-color: #141d26;
  --foreground-color: white;
  --inverse-foreground-color: black;

  --content-block-color: #1b2836;
  --outline-color: black;

  --content-hover-color: #243447;

  --primary-color: #007bff;
  --primary-foreground-color: white;
  --secondary-color: silver;
  --success-color: ;
  --danger-color: ;
  --warning-color: ;
  --info-color: ;
}

.light-theme {
  --nav-background-color: #243447;
  --nav-foreground-color: white;

  --background-color: #edeef0;
  --foreground-color: black;
  --inverse-foreground-color: white;


  --content-block-color: white;
  --outline-color: #f1f2f3;

  --content-hover-color: lightgray;

  --primary-color: #007bff;
  --primary-foreground-color: white;
  --secondary-color: silver;
  --success-color: ;
  --danger-color: ;
  --warning-color: ;
  --info-color: ;
}

.rodgers-theme {
  --nav-background-color: #001A14;
  --nav-foreground-color: white;

  --background-color: #24423C;
  --foreground-color: white;
  --inverse-foreground-color: black;


  --content-block-color: #24423C;
  --outline-color: white;

  --content-hover-color: #001A14;

  --primary-color: #F7C345;
  --primary-foreground-color: #24423C;
  --secondary-color: silver;
  --success-color: ;
  --danger-color: ;
  --warning-color: ;
  --info-color: ;
}
