<div class="content-block">
    <!-- table of invites-->
    <table class="table">
        <thead>
            <th style="width: 20%;">From</th>
            <th style="width: 30%;">League</th>
            <th style="width: 20%;">Date</th>
            <th style="width: 10%;">Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let invite of invites">
                <td>
                    <a class="link" [routerLink]="['/user', invite.senderUsername]">{{invite.senderUsername}}</a>
                </td>
                <td>
                    <a class="link" [routerLink]="['/league', invite.leagueId]">{{invite.leagueName}}</a>
                </td>
                <td>{{invite.date}}</td>
                <td>
                    <button type="button" id="request{{i}}" class="btn btn-success btn-sm" title="Accept Invite" data-toggle="modal" data-target="#teamNameModal"
                        (click)="acceptingLeagueId = invite.leagueId">
                        <i class="fas fa-check"></i>
                    </button>
                    <button type="button" id="request{{i}}" class="btn btn-danger btn-sm" title="Decline Invite" (click)="declineInvite(invite.leagueId)">
                        <i class="fas fa-times"></i>
                    </button>
                </td>
            </tr>

            <!-- No Invites Message -->
            <tr *ngIf="!invites.length">
                <td class="text-center" colspan="4">You have no pending invites.</td>
            </tr>
            <!-- end no invites -->

        </tbody>
    </table>
</div>

<!-- enter team name modal -->
<div class="modal fade" id="teamNameModal">
    <div class="modal-dialog" role="document" style="background-color: var(--background-color)">
        <div class="col">
        <div class="modal-content" style="background-color: var(--background-color)">
                <div class="content-block">
                    <div class="modal-header">
                        <h5 class="modal-title">Enter A Team Name</h5>
                    </div>

                    <!-- input field and submit button -->
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input #teamName type="text" class="form-control" placeholder="Team Name">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" data-dismiss="modal" (click)="acceptInvite(teamName.value)">Submit</button>
                            </div>
                        </div>
                    </div>
                    <!-- end input -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end modal -->