<div class="content-block">
  <!-- list of invites-->
  <table class="table">
    <thead>
      <th style="width: 20%;">From</th>
      <th style="width: 30%;">League</th>
      <th style="width: 20%;">Date</th>
      <th style="width: 10%;">Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let invite of invites">
        <td><a class="link" [routerLink]="['/user', invite.senderUsername]">{{invite.senderUsername}}</a></td>
        <td><a class="link" [routerLink]="['/league', invite.leagueId]">{{invite.leagueName}}</a></td>
        <td>{{invite.date}}</td>
        <td>
          <button type="button" id="request{{i}}" class="btn btn-success btn-sm" title="Accept Invite" (click)="acceptInvite(invite.leagueId)">
              <i class="fas fa-check"></i>
          </button>
          <button type="button" id="request{{i}}" class="btn btn-danger btn-sm" title="Decline Invite" (click)="declineInvite(invite.leagueId)">
              <i class="fas fa-times"></i>
          </button>
        </td>
      </tr>
      <!-- No Invites Message -->
      <tr *ngIf="!invites.length">
        <td class="text-center" colspan="4">You have no pending invites.</td>
      </tr>
    </tbody>
  </table>
</div>
