<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to &lt;awesome-name&gt;!</h1>
    <p class="lead">Get started with your fantasy football experience. You can find either find and
                    join an existing league create your own fully customized league.</p>
    <hr class="my-4">
    <div class="row">
        <div class="col-md-4" align="center">
          <button type="button" class="btn-dark btn-lg btn-block" routerLink="/find-league" >Find/Join League</button>
        </div>
        <div class="col-md-4" align="center">
          <button type="button" class="btn-dark btn-lg btn-block" routerLink="/create-league" >Create League</button>
        </div>
        <div class="col-md-4" align="center">
            <button type="button" class="btn-dark btn-lg btn-block" routerLink="/" >Not Now</button>
        </div>
    </div>
  </div>
</div>
