<div class="content-block">
    <div class="row">
        <h3 class="col-sm-2 text-center">{{league?.teamName}}</h3>
        <a class="link col-sm-5 text-center" [routerLink]="['/league', league?._id]"><h3>{{league?.name}}</h3></a>
        <a class="link col-sm-2 text-center" [routerLink]="['/user', currentUser?._id]"><h3>{{currentUser?.userName}}</h3></a>
        <h3 class="col-sm-3 text-center">Record: {{wins}}-{{losses}}</h3>
    </div>
    <div>
        <table class="table">
            <thead>
                <th scope="col">Starters</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table class="table">
                            <thead>
                                <th scope="col">Slot</th>
                                <th scope="col">Player Name</th>
                                <th scope="col">Pos</th>
                                <th scope="col">Team</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let player of qb">
                                    <td>QB</td>
                                    <td>{{player.PlayerName}}</td>
                                    <td>{{player.PlayerPos}}</td>
                                    <td>{{player.TeamAbbr}}</td>
                                </tr>
                                <tr *ngFor="let player of rb">
                                    <td>RB</td>
                                    <td>{{player.PlayerName}}</td>
                                    <td>{{player.PlayerPos}}</td>
                                    <td>{{player.TeamAbbr}}</td>
                                </tr>
                                <tr *ngFor="let player of wr">
                                    <td>WR</td>
                                    <td>{{player.PlayerName}}</td>
                                    <td>{{player.PlayerPos}}</td>
                                    <td>{{player.TeamAbbr}}</td>
                                </tr>
                                <tr *ngFor="let player of te">
                                    <td>TE</td>
                                    <td>{{player.PlayerName}}</td>
                                    <td>{{player.PlayerPos}}</td>
                                    <td>{{player.TeamAbbr}}</td>
                                </tr>
                                <tr *ngFor="let player of flex">
                                    <td>FLEX</td>
                                    <td>{{player.PlayerName}}</td>
                                    <td>{{player.PlayerPos}}</td>
                                    <td>{{player.TeamAbbr}}</td>
                                </tr>
                                <tr *ngFor="let player of def">
                                    <td>D/ST</td>
                                    <td>{{player.PlayerName}}</td>
                                    <td>{{player.PlayerPos}}</td>
                                    <td>{{player.TeamAbbr}}</td>
                                </tr>
                                <tr *ngFor="let player of k">
                                    <td>K</td>
                                    <td>{{player.PlayerName}}</td>
                                    <td>{{player.PlayerPos}}</td>
                                    <td>{{player.TeamAbbr}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table class="table">
            <thead>
                <th scope="col">Bench</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table class="table">
                            <thead>
                                <th scope="col">Slot</th>
                                <th scope="col">Player Name</th>
                                <th scope="col">Pos</th>
                                <th scope="col">Team</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let player of bench">
                                    <td>BENCH</td>
                                    <td>{{player.PlayerName}}</td>
                                    <td>{{player.PlayerPos}}</td>
                                    <td>{{player.TeamAbbr}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
