<!-- <img src='http://media.bizj.us/view/img/7247332/100715aaron-rodgersprevea-2015*1200xx4396-2473-0-227.jpg' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'> -->
<div class="container" align="center">
  <div class="card border-primary mb-3" style="max-width: 36rem;" style="opacity:0.75;">
    <div class="card-header" align="center">
      <h1 class="text-info">Register</h1>
    </div>
    <div class="card-body">
      <div class="card-text">
        <form>
          <div class="row p-3" align="left">
            <div class="col-sm-4"></div>
            <div class="form-group" class="col-sm-4">
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email Address">
            </div>
          </div>
          <div class="row p-3" align="left">
            <div class="col-sm-4"></div>
            <div class="form-group" class="col-sm-4">
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Username">
            </div>
          </div>
          <div class="row p-3" align="left">
            <div class="col-sm-4"></div>
            <div class="form-group" class="col-sm-4">
              <input type="password" class="form-control" placeholder="Password">
            </div>
          </div>
          <div class="row p-3" align="left">
            <div class="col-sm-4"></div>
            <div class="form-group" class="col-sm-4">
              <input type="password" class="form-control" placeholder="Confirm Password">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="form-check" class="col-sm-4">
          <button type="submit" class="btn btn-primary" routerLink="/welcome">Register</button>
        </div>
      </div>
    </div>
  </div>
</div>
