<table class="table table-sm" *ngIf="leagues.length">
  <thead>
    <tr>
      <th colspan="5" class="text-center" *ngIf="!isSame">{{tableHeader | uppercase}}</th>
    </tr>
    <tr>
      <th style="width: 35%">League Name</th>
      <th style="width: 20%">Owner</th>
      <th style="width: 15%">Scoring</th>
      <th style="width: 15%">Teams</th>
      <th style="width: 15%">Privacy</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let league of leagues">
      <td>
        <a class="link" [routerLink]="['/league', league._id]">{{league.name}}</a>
      </td>
      <td>
        <a class="link" [routerLink]="['/user', league.ownerName]">@{{league.ownerName}}</a>
      </td>
      <td>
        <a>{{league.typeScoring}}</a>
      </td>
      <td>
        <a class="link" [routerLink]="['/league', league._id, 'members']">{{league.numTeams}}</a>
      </td>
      <td>
        <a>{{league.leaguePrivacy}}</a>
      </td>
    </tr>
  </tbody>
</table>
