<table class="table table-sm">
  <thead>
    <tr class="table-column-header">
      <th colspan="3" class="text-center" *ngIf="!isSame">{{tableHeader | uppercase}}</th>
    </tr>
    <tr class="table-column-header">
      <th style="width: 50%">League Name</th>
      <th style="width: 25%">Owner</th>
      <th style="width: 25%">Members</th>
    </tr>
  </thead>
  <tbody class="table-body">
    <tr *ngFor="let league of leagues">
      <td>
        <a class="link" routerLink="league/:id">{{league.name}}</a>
      </td>
      <td>
        <a class="link" [routerLink]="['/user', league.ownerUserName]">{{league.ownerUserName}}</a>
      </td>
      <td><a class="link" routerLink="league/:id/members">{{league.numMembers}}</a></td>
    </tr>
  </tbody>
</table>
