.table {
  border: 1px solid black;
}

.table-column-header th {
  background-color: var(--primary-color);
  color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.table-body td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: white;
}

.table-body tr:nth-child(odd) {
  background-color: var(--block-color);
}


.table-body tr:nth-child(even) {
  background-color: var(--background-color);
}

.table-body tr:hover {
  background-color: black;
}
