<div class="content-block">
  <!-- search bar -->
  <div class="col-md-4 p-0">
    <div class="input-group">
      <input #searchTerm type="text" class="form-control" placeholder="Search for..." (keyup)="searchDebounce(searchTerm.value)">
    </div>
  </div>
</div>

<div class="content-block">
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody *ngIf="searchResults.length">
      <tr *ngFor="let user of searchResults">
        <td>
          <a class="link" [routerLink]="['/user', user.userName]">{{user.userName}}</a>
        </td>
        <td>{{user.firstName}} {{user.lastName}}</td>
      </tr>
    </tbody>
    <tbody *ngIf="!searchResults.length">
      <tr>
        <td colspan="2" class="text-center">No users match your search criteria.</td>
      </tr>
    </tbody>
  </table>

</div>
