<div class="card">
    <div class="card-header">
      <h4>Delete Account Here</h4>
      <p class="card-subtitle text-muted small">WARNING: This cannot be undone. And we'll be sad. Please stay :(</p>
    </div>
    <div class="card-body">
      <div class="card-text">
        <form>
            <button type="button" class="btn btn-danger btn-lg btn-block" (click)="deleteClick()">Delete Account</button>
        </form>
      </div>
    </div>
    <div class="card-footer">
        <p class="card-subtitle text-muted small">Seriously. We need the page views. I live exclusively on ramen.. Don't leave.</p>
    </div>
</div>

<div *ngIf="bool">
  <br/><br/><br/>

    <div class="card w-95">
        <div class="card-header" align="center">
            <h4>Are you sure?</h4>
            <p class="card-subtitle text-muted small">WARNING: This is final!</p>
          </div>
        <div class="card-body">
          <div class="row">
              <div class="col-md-6" align="center">
                  <button type="button" class="btn btn-success btn-block">Cancel</button>
              </div>
              <div class="col-md-6" align="center">
                  <button type="button" class="btn btn-danger btn-block"(click)="sendDeleteUser()" routerLink="/">Yes</button>
              </div>
            </div>
        </div>
      </div>

  <!--
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <button type="button" class="btn btn-success btn-lg">No</button>
      </div>
      <div class="col-md-6">
          <button type="button" class="btn btn-danger btn-lg">Yes</button>
      </div>
    </div>
  </div>
-->
</div>

