<div class="card">
    <div class="card-header">
      <h4>Delete Account Here</h4>
      <p class="card-subtitle text-muted small">WARNING: This cannot be undone. And we'll be sad. Please stay :(</p>
    </div>
    <div class="card-body">
      <div class="card-text">
        <form>
            <button type="button" class="btn btn-danger btn-lg btn-block" (click)="deleteClick()" confirm="Are you sure?">Delete Account</button>
        </form>
      </div>
    </div>
    <div class="card-footer">
        <p class="card-subtitle text-muted small">Seriously. We need the page views. I live exclusively on ramen.. Don't leave.</p>
    </div>
</div>

<div *ngIf="bool">

</div>

