<div class="content-block">
    <form (submit)="updateLeague(name.value, public.checked, unlimited.checked, other.value, maxTeams.value, year.value)">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="input-group">
                    <div class="input-group-prepend label">
                        <label class="input-group-text" for="leagueName">League Name:</label>
                    </div>
                    <input #name type="text" class="form-control" id="leagueName" value="{{league?.name}}" required minlength="1">
                </div>
                <!-- Column -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="input-group">
                    <div class="input-group-prepend label">
                        <label class="input-group-text" for="year">Year:</label>
                    </div>
                    <input #year type="text" class="form-control" id="year" value="{{league?.year}}" pattern="\d{4}" required minlength="1">
                </div>
                <!-- Column -->
            </div>
        </div>

        <!-- League Name Row -->
        <div class="row">
            <div class="col-md mb-3">
                <div class="input-group">
                    <div class="input-group-prepend label">
                        <label class="input-group-text" for="maxPlayers">Max Teams:</label>
                    </div>
                    <select #maxTeams class="custom-select" value="{{league?.maxTeams}}" id="maxPlayers" required>
                        <option value="">Choose...</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <div class="invalid-feedback">
                        Please provide a valid number of teams.
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>

        <!-- Max teams row -->
        <div class="row">
            <div class="col-md mb-3">
                <label for="privacy">League Privacy:</label>
                <div class="custom-control custom-radio">
                    <input #public id="public" name="privacy" ng-model="privacy" value="Public" type="radio" class="custom-control-input" [checked]="isPublic"
                        required>
                    <label class="custom-control-label" for="public">Public</label>
                </div>
                <div class="custom-control custom-radio">
                    <input #private id="private" name="privacy" ng-model="privacy" value="Private" type="radio" class="custom-control-input" [checked]="!isPublic"
                        required>
                    <label class="custom-control-label" for="private">Private</label>
                </div>
            </div>
            <!-- Column -->
        </div>

        <!--  League Privacy Row -->
        <div class="row">
            <div class="col-md mb-3">
                <label for="numTrades">Maximum Trades:</label>
                <div class="custom-control custom-radio">
                    <input #unlimited id="unlimited" name="numTrades" ng-model="numTrades" type="radio" value="Unlimited" onclick="document.getElementById('otherTrades').disabled = true;"
                        class="custom-control-input" [checked]="isUnlimited" required>
                    <label class="custom-control-label" for="unlimited">Unlimited</label>
                </div>
                <div class="custom-control custom-radio">
                    <input id="other" name="numTrades" ng-model="numTrades" type="radio" value="Other" onclick="document.getElementById('otherTrades').disabled = false;"
                        class="custom-control-input" [checked]="!isUnlimited" required>
                    <label class="custom-control-label" for="other">Other </label>
                    <input #other type="text" value="{{league?.maxTrades}}" id="otherTrades" name="other" disabled="{{!isUnlimited}}" minlength="1" />
                    <div class="invalid-feedback">
                        Valid Number is required.
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>

        <!-- Max Trades Row -->
        <button type="submit" class="btn btn-primary">SAVE</button>
    </form>
</div>
