<div class="content-block">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="input-group">
        <input #searchTerm type="text" class="form-control" placeholder="League Name">
        <div class="input-group-append">
          <button class="btn btn-success" type="button" (click)="search(searchTerm.value)">
            Search
          </button>
        </div>
      </div>
      <!-- input group -->
    </div>
    <!-- col -->
  </div>

</div>

<div class="content-block">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 50%">League Name</th>
            <th style="width: 15%">Teams</th>
            <th style="width: 15%">Format</th>
            <th style="width: 20%">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of searchResults" (click)="searchListener('clicked')">
            <td><a class="link" [routerLink]="['/league', x._id]">{{x.name}}</a> </td>
            <td> {{x.maxTeams}} </td>
            <td> Standard </td>
            <td>
              <button class="btn btn-primary" type="button" [routerLink]="['/league', x._id]">
                View League
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- col -->
  </div>
  <!-- row -->
</div>
